{% load staticfiles %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Final Year Project</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<body>

		<!-- Header -->
		<header id="header" class="transparent-nav">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a class="logo" href="index.html">
							<img src="{% static './img/logo-alt.png' %}" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Mobile toggle -->
					<button class="navbar-toggle">
						<span></span>
					</button>
					<!-- /Mobile toggle -->
				</div>

				<!-- Navigation
				<nav id="nav">
					<ul class="main-menu nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Courses</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
				 /Navigation -->

			</div>
		</header>
		<!-- /Header -->

		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static './img/home-background.jpg' %})"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text">Evaluation of Student Answers</h1>
							<p class="lead white-text">Our goal is to assist teachers around the world by providing resources which will help them augment their teaching capabilities and ease their burden.</p>
							<a class="main-button icon-button" href="#">Get Started!</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>Welcome to Edusite</h2>
							<p class="lead">Quick steps to get you started.</p>
						</div>

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Step 1: </h4>
								<p>Enter the question in the First Textbox or browse and upload the file you have beforehand.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Step 2:</h4>
								<p>Upload the reference answer or type it into the textbox. The reference answer will be assumed to have a full score out of a possible 5.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Step 3:</h4>
								<p>Upload all the student answers at a time by using the browse option and then click on grade. Sit back and enjoy the magic.</p>
							</div>
						</div>
						<!-- /feature -->

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="{% static './img/about.png' %}" alt="">
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

		<!-- Courses -->
		<div id="courses" class="section">
			<!-- container -->
			<div class="container">

				<div class="section-header">
					<h2>Get Started</h2>
				</div>

				<div id="wrapper">

					<form id="paper" method="post">
						{% csrf_token %}

						<h4>Enter the question:</h4>
						<!--<textarea placeholder="Enter the question..." id="text" name="question" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 200px; "></textarea>-->
						{{ form.question }}
						<br>
						<h4>Enter the reference answer:</h4>
						<!--<textarea placeholder="Enter reference answer..." id="text" name="ref" rows="6" style="overflow: hidden; word-wrap: break-word; resize: none; height: 280px; "></textarea>-->
						{{ form.ref_answer }}
						<br>
						<h4>Type in or upload student answers:</h4>
						<!--<textarea placeholder="Enter student answer..." id="text" name="student" rows="6" style="overflow: hidden; word-wrap: break-word; resize: none; height: 280px; "></textarea>-->
						{{ form.stud_answer }}
						<br>
						<br>
						<input type="file" name="stud_answers" multiple>

						<input id="button" type="submit" value="Grade">
						
					</form>

					<textarea id="text" name="grade" rows="3" style="overflow: hidden
						; word-wrap: break-word; resize: none; height: 120px; margin-top: 50px;">The Grade received is: </textarea>  
					<br>

				</div>

			</div>
			<!-- container -->

		</div>
		<!-- /Courses -->

		<!-- Contact CTA -->
		<div id="contact-cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static './img/cta2-background.jpg' %})"></div>
			<!-- Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="white-text">Mentor: Sudhir Sir</h2>
						<p class="lead white-text">Aditya Maniar<br>Chantelle D'silva<br>Devansh Gada</p>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Contact CTA -->

		<!-- Footer -->
		<footer id="footer" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- footer logo -->
					<div class="col-md-6">
						<div class="footer-logo">
							<a class="logo" href="index.html">
								<img src="{% static './img/logo.png' %}" alt="logo">
							</a>
						</div>
					</div>
					<!-- footer logo -->

					<!-- footer nav -->
					<div class="col-md-6">
						<ul class="footer-nav">
							<li><a href="index.html">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Courses</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<!-- /footer nav -->

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</footer>
		<!-- /Footer -->

		<!-- preloader -->
		<div id='preloader'><div class='preloader'></div></div>
		<!-- /preloader -->


		<!-- jQuery Plugins -->
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			  $('#title').focus();
			    $("textarea").mousemove(function(e) {
			        var myPos = $(this).offset();
			        myPos.bottom = $(this).offset().top + $(this).outerHeight();
			        myPos.right = $(this).offset().left + $(this).outerWidth();
			        
			        if (myPos.bottom > e.pageY && e.pageY > myPos.bottom - 16 && myPos.right > e.pageX && e.pageX > myPos.right - 16) {
			            $(this).css({ cursor: "nw-resize" });
			        }
			        else {
			            $(this).css({ cursor: "" });
			        }
			    })
			    //  the following simple make the textbox "Auto-Expand" as it is typed in
			    .keyup(function(e) {
			        //  this if statement checks to see if backspace or delete was pressed, if so, it resets the height of the box so it can be resized properly
			        
			        //  the following will help the text expand as typing takes place
			        while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
			            $(this).height($(this).height()+1);
			        };
			    });
			});
		</script>

	</body>
</html>
